#article {
    display: flex;
    width: 864px;
    margin: 4rem auto 0;
    gap: 2rem;
}

#article img {
    width: 246px;
    height: 184px;
    border-radius: 6px;
}

#article h2 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: .5rem;
}

#article .article-description span {
    font-size: 20px;
    color: #ffffff6c;
}

#article .article-description p {
    margin-top: 1.5rem;
    text-align: justify;
}


@media screen and (max-width: 966px) {
    #article {
        display: block;
        margin: 1.5rem;
    }
    .article-description {
        max-width: 70vh;
    }
}