#counter {
    margin: 2rem auto;
    padding: 1rem;
    width: 80%;
    font-size: 3rem;
    border: .1rem solid #ffffff6c;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 .4rem .7rem rgba(0, 0, 0, 0.767);
}

#counter .counter-button button {
    padding: .5rem;
    margin: 0 .5rem;  
    border-radius: 6px;    
}

#counter .counter-button button:hover {
    background-color: black; 
    color: white;  
}