* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #222222;
    font-family: 'Roboto';
    color: white;
}

a {
    text-decoration: none;
}

#artcles {
    gap: 4.6rem;
}