header {
    background-color: #333333;
    box-shadow: 0 .4rem .7rem rgba(0, 0, 0, 0.25);
}

header nav#navbar {
    display: flex;
    align-content: center;
    justify-content: space-between;

    width: 100%;
    margin: 0 auto 4rem;
    padding: 0 5rem;
}

header nav#navbar .nav-brand {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    height: 8rem;
    
    font-family: "Grenze", serif;
    font-size: 1.5rem;
}
header nav#navbar .nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

header nav#navbar .nav-list a {
    color: #ffffff6c;
    font-size: 1.1rem;
}

header nav#navbar .nav-list a:visited {
    color: #ffffff;
}

header nav#navbar .nav-list a:hover {
    color: #ffffff;
    cursor: pointer;
    transition: color .3s;
}

@media screen and (min-width: 767px) and (max-width: 999px) {
    header nav#navbar .nav-brand {
        font-size: smaller;
    } header nav#navbar .nav-brand img {
        width: 3rem;
    }
    header nav#navbar .nav-list {
        gap: 1rem;
        font-size: 1rem;
    }
}
@media screen and (max-width: 766px) {
    
    header nav#navbar  {
        padding: 1rem 2rem 1rem 0;
    }
    header nav#navbar .nav-brand {
        font-size: 1rem;
        margin: 0 1rem;
    } header nav#navbar .nav-brand img {
        width: 2.5rem;
    }
    header nav#navbar .nav-list {
        gap: .8rem;
        font-size: .3rem;
        flex-direction: column;
    }
    header nav#navbar .nav-list a {
        
    }
}